# Node / Angular
node_modules/
**/node_modules/
.angular/cache
**/.angular/cache
dist/
**/dist/

# .NET dan rahasia lingkungan lokal
bin/
obj/
**/bin/
**/obj/
TestResults/
*.usersecrets
.env
.env.*
!.env.example

# IDE / Editor
.vscode/
**/.vscode/
.idea/
**/.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db
